/* extra small */
@media screen and (max-width: 300px) {
  header {
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 2rem;

  }

  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 7vw;
    margin-top: 0.3rem;
  }

  h3 {
    font-size: 12vw;
  }

  .progressBarContainer {
    width: 80%;
  }

  .clockIcon {
    width: 12vw;
  }



  /* ---------- settings ----------*/
  .settingsContainer {
    margin-top: 5rem;
  }

  label {
    font-size: 9.2vw;
    width: 70%;

}

  .slider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 70%;
  }
  .sliderBreak {
    margin-bottom: 2rem;
  }

  button{
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }
 
}
@media screen and (min-width: 301px) and (max-width: 480px) {

  
  header {
    width: 90%;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }

  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 4vw;
    margin-top: 0.3rem;
  }

  h3 {
    font-size: 10vw;
  }

  .progressBarContainer {
    width: 80%;
  }

  .clockIcon {
    width: 10vw;
  }

 
  

  /* ---------- settings ----------*/
  .settingsContainer {
    margin-top: 5rem;
  }

  label {
    font-size: 6vw;
    width: 60%;
  }

  .slider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 60%;
  }
  .sliderBreak {
    margin-bottom: 2.5rem;
  }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
  
  header {
    width: 80%;
    margin-bottom: 6rem;
    margin-top: 5rem;
  }

  h2 {
    font-size: 3.5vw;
    margin-top: 0.3rem;
  }

  h3 {
    font-size: 7vw;
  }

  .progressBarContainer {
    width: 65%;
  }

  .clockIcon {
    width: 7vw;
  }

  
  }
  /* ---------- settings ----------*/
  .settingsContainer {
    margin-top: 5rem;
  }

  label {
    font-size: 3vw;
    width: 65%;
  }

  .slider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 65%;
  }
  .sliderBreak {
    margin-bottom: 3.5rem;
  }

@media screen and (min-width: 769px) and (max-width: 900px) {
 
  header {
    width: 80%;
    margin-bottom: 6rem;
    margin-top: 5rem;
  }

  h1 {
    font-size: 3.2vw;
  }
  h2 {
    font-size: 2.5vw;
    margin-top: 0.3rem;
  }

  h3 {
    font-size: 5vw;
  }

  .progressBarContainer {
    width: 48%;
  }

  .clockIcon {
    width: 5vw;
  }

  


  /* ---------- settings ----------*/
  .settingsContainer {
    margin-top: 5rem;
  }

  label {
    font-size: 2.5vw;
    width: 26%;
  }

  .slider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 26%;
  }
  .sliderBreak {
    margin-bottom: 3.5rem;
  }

  
}



@media screen and (min-width: 901px) and (max-width: 1199px) {
 
  

  
  header {
    width: 80%;
    margin-bottom: 6rem;
    margin-top: 5rem;
  }

  h1 {
    font-size: 3vw;
  }
  h2 {
    font-size: 2vw;
    margin-top: 0.3rem;
  }

  h3 {
    font-size: 4.5vw;
  }

  .progressBarContainer {
    width: 35%;
  }

  .clockIcon {
    width: 4.5vw;
  }

 


  /* ---------- settings ----------*/
  .settingsContainer {
    margin-top: 9rem;
  }

  label {
    font-size: 2vw;
    width: 25%;
  }

  .slider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 25%;
  }
  .sliderBreak {
    margin-bottom: 3.5rem;
  }


  

}



@media screen and (min-width: 1200px) and (max-width: 1800px) {
  

  
  header {
    width: 70%;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }

  h1 {
    font-size: 2.7vw;
  }
  h2 {
    font-size: 1.7vw;
    margin-top: 0.3rem;
  }

  h3 {
    font-size: 3.5vw;
  }

  .progressBarContainer {
    width: 35%;
  }

  .clockIcon {
    width: 3.5vw;
  }

  
  .settingsContainer {
    margin-top: 10rem;
  }
/* ------------- settings  --------  */
  label {
    font-size: 1.9vw;
    width: 27%;
  }

  .slider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 27%;
  }
  .sliderBreak {
    margin-bottom: 3.5rem;
  }


}


@media screen and (min-width: 1801px)  {
  

  
  header {
    width: 70%;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  h1 {
    font-size: 2.4vw;
  }
  h2 {
    font-size: 2.1vw;
    margin-top: 0.3rem;
  }

  h3 {
    font-size: 2.5vw;
  }

  .progressBarContainer {
    width: 25%;
  }

  .clockIcon {
    width: 2.5vw;
  }

  .settingsContainer {
    margin-top: 10rem;
  }
/* ------------- settings  --------  */
  label {
    font-size: 1.6vw;
    width: 27%;
  }

  .slider {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 27%;
  }
  .sliderBreak {
    margin-bottom: 3.5rem;
  }


}