.settingsContainer {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: var(--text);
 
}

.slider {
  border: 2px solid var(--element);
  border-radius: 20px;
}


.thumb {
  background-color: white;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: -8px;
}
